USE [FloraNueva]
GO
/****** Object:  StoredProcedure [dbo].[Sp_ActualizarProductor]    Script Date: 24/09/2018 4:19:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[Sp_ActualizarProductor] 
       (
            @Identificador UNIQUEIDENTIFIER,
            @IdUsuarioEncuestador INT,
            @FechaEncuesta DATETIME,
            @VisitaALaCasa BIT,
            @IdEstadoDiagnostico INT,
            @Nombres VARCHAR(50),
            @Apellido1 VARCHAR(50),
            @Apellido2 VARCHAR(50),
            @Foto IMAGE,
            @CodigoFloraNueva VARCHAR(50),
            @Sexo BIT,
            @NumeroCedula VARCHAR(50),
            @FechaNacimiento DATETIME,
            @IdEstadoCivil INT,
            @PerteneceAAlgunGrupoEtnico VARCHAR(500),
            @IdPais INT,
		    @IdGrupo INT,
            @IdDivisionAdministrativa1  INT,
            @IdDivisionAdministrativa2 INT,
            @IdDivisionAdministrativa3 INT,
            @DivisionAdministrativa4 VARCHAR(250),
            @DireccionExacta VARCHAR(500),
            @IdTerritorio  INT,     
            @GPSLatitud DECIMAL(20,6),
            @GPSLongitud DECIMAL(20,6),
            @Altitud DECIMAL(20,6),
            @ComentariosUbicacion VARCHAR(500),
            @ActividadLaboralPrincipal VARCHAR(500),
            @ActividadLaboralSecundaria VARCHAR(500),
            @IdCategoriaActividadPrincipal INT,
            @IdActividadAgricola INT,
            @TotalPersonasHogar INT,
            @TotalPersonasActivasEconomicamente INT,
            @TotalPersonasDependientes INT,
            @IndiceInsercionLaboralProductor DECIMAL(20,6),
            @IndiceNivelEducativoProductor DECIMAL(20,6),
            @IndiceCiudadaniaSocialProductor DECIMAL(20,6),
            @IndiceInsercionProductivaProductor DECIMAL(20,6),
            @IndiceInclusionSocialProductor DECIMAL(20,6),
            @IndiceInsercionLaboralHogar DECIMAL(20,6),
            @IndiceNivelEducativoHogar DECIMAL(20,6),
            @IndiceCiudadaniaSocialHogar DECIMAL(20,6),
            @IndiceInsercionProductivaHogar DECIMAL(20,6),
            @TasaActividadEconomicaHogar DECIMAL(20,6),
            @IndiceInclusionSocialHogar DECIMAL(20,6),
            @IdFacilidadAccesoComunidad INT,
            @IdFacilidadAccesoVivienda INT,
            @IndiceFacilidadAcceso DECIMAL(20,6),
            @IdTiempoLlegarCentroEducativo INT,
            @IdTiempoLlegarCentroSalud INT,
            @IndiceCercaniaCentrosBasicos DECIMAL(20,6),
            @IdExistenciaTransportePublico INT,
            @IdPosesionMedioTransportePublico INT,
            @EspecificarMediosTransporte VARCHAR(500),
            @IndiceCapacidadDesplazamiento DECIMAL(20,6),
            @IndiceConexionProximidadGeografica DECIMAL(20,6),
            @IdEstructuraGeneracionalHogar INT,
            @OtrosFamiliaresVivenEnLaMismaComunidad BIT,
            @IdUstedConsideraContarConApoyoDeSuFamilia INT,
            @IndiceCercaniaRelacionFamiliar DECIMAL(20,6),
            @IdApoyoVecinosCasoNecesidad INT,
            @IdAmbienteSocialComunidad INT,
            @SeSienteUstedRealmenteParteComunidad BIT,
            @UstedEsUnMiembroActivoDeAlgunGrupo BIT,
            @MiembroActivoEspecificar VARCHAR(500),
            @IndiceCercaniaRelacionComunidad DECIMAL(20,6),
            @IndiceRelacionesSociales DECIMAL(20,6),
            @IndiceGlobalBienestarSocialFamiliar DECIMAL(20,6),
            @IdSuViviendaEs INT,
            @IdLaViviendaEsANombreSuyo INT,
            @LaViviendaEsANombreSuyoEspecificar VARCHAR(500),
            @IdEstadoGeneralViviendaACFN INT,
            @IdEstadoGeneralViviendaProductor INT,
            @CantidadDormitorios INT,
            @HacinamientoPorDormitorios INT,
            @IndiceHacinamiento DECIMAL(20,6),
            @IndiceEstadoVivienda DECIMAL(20,6),
            @IndiceVivienda DECIMAL(20,6),
            @IdFuenteAguaVivienda INT,
            @AccesoALaElectricidad BIT,
            @IndiceServiciosBasicos DECIMAL(20,6),
            @TieneTelefonoResidencial BIT,
            @TieneTelefonoCelular BIT,
            @TieneSennalTelefoniaMovilEnSuCasa BIT,
            @TieneAccesoAInternet BIT,
            @IndiceServiciosComunicacion DECIMAL(20,6),
            @IndiceAccesoAServicios DECIMAL(20,6),
            @RecibeAyudaFinanciera BIT,
            @RecibeAyudaFinancieraEspecificar VARCHAR(500),
            @PresupuestoSuficienteCubrirGastosBasicos BIT,
            @ParaQueNoAlcanzaPresupuestoHogar  VARCHAR(500),
            @IdConLosIngresosUstedEstimaQue INT,
            @MontoMinimoMensualParaVivir DECIMAL(20,6),
            @IdConLaActualSituacionEconomica INT,
            @IdUstedConsideraQueSuHogarEs INT,
            @IndiceNivelVida DECIMAL(20,6),
            @IndiceBienestarEconomicoMaterialHogar DECIMAL(20,6),
            @UstedProduceAlimentosParaSuHogar BIT,
            @GranosBasicos BIT,
            @Hortalizas  BIT,
            @Frutas BIT,
            @AnimalesYSusProductos  BIT,
            @ProductosTransformados  BIT,
            @PlantasAromaticasYMedicinales  BIT,
            @QueProduceParaSuHogarOtros BIT,
            @IdProporcionAutoconsumoAlimentosHogar INT,
            @IdLograProducir INT,
            @IdDondeUstedProduce INT,
            @IdElTamannoDeSuParcelaEs INT,
            @IdAUstedLeGustaria INT,
            @TamannoParcela BIT,
            @ManoObra BIT,
            @FertilidadSuelos BIT,
            @TiempoDisponible BIT,
            @RecursosFinancierosInvertirYTrabajar BIT,
            @RiesgosNaturalesMuyFrecuentes BIT,
            @OtrasLimitantes BIT,
            @NoPoseeTierras BIT,
            @NoPoseeConocimientos BIT,
            @TrabajaEnOtroSectorYNoTieneTiempo BIT,
            @NoLeInteresaPrefiereComprar BIT,
            @ElLugarNoEsAptoParaCultivar BIT,
            @OtrasRazones BIT,
            @IndiceSoberaniaAlimenticia DECIMAL(20,6),
            @FelicidadSuTrabajo DECIMAL(20,6),
            @FelicidadSuSituacionFinanciera DECIMAL(20,6),
            @FelicidadSuEstadoSalud DECIMAL(20,6),
            @FelicidadSuVivienda DECIMAL(20,6),
            @FelicidadSuTiempoLibre DECIMAL(20,6),
            @FelicidadSuFamilia DECIMAL(20,6),
            @FelicidadSuEducacion DECIMAL(20,6),
            @FelicidadElMedioAmbiente DECIMAL(20,6),
            @FelicidadSuVidaSocial DECIMAL(20,6),
            @FelicidadSuParticipacionDentroComunidad DECIMAL(20,6),
            @IndiceFelicidad DECIMAL(20,6),
            @IdFormaJuridicaExplotacion INT,
            @PerteneceAUnaOrganizacionAgropecuaria BIT,
            @NombreOrganizacionAgropecuaria VARCHAR(500),
            @IdTenenciaDeLaTierra INT,
            @ANombreDeQuienEstaElTerreno BIT,
            @SiEsANombreDeOtraPersonaEspecificar VARCHAR(500),
            @EspecificarUbicacionDeLaTierra VARCHAR(500),
            @SuperficieDeLaParcela DECIMAL(20,6),
            @MiniDescripcionDeLaFinca VARCHAR(500),
            @FotoParcela IMAGE,
            @CualEsSuProduccionPrincipal VARCHAR(500),
            @CualesSonLasOtrasProduccionesQueTiene VARCHAR(500),
            @IdAbono INT,
            @IdControlDeMaleza INT,
            @IdPlaguicidas INT,
            @IdOrigenDeLasSemillas INT,
            @IdSistemaRiegoCultivos INT,
            @PoseeUnaCertificacion BIT,
            @CertificacionEspecificar VARCHAR(500),
            @IdCategoriaManejo INT,
            @ComentarioDeManejo VARCHAR(500),
            @ListaMaquinariaDisponibleEnLaFinca VARCHAR(500),
            @IdCategoriaMecanizacion INT,
            @ListaInfraestructuraDisponibleEnLaFinca VARCHAR(500),
            @IdCategoriaInfraestructura INT,
            @RealizaAlgunProcesoTransformacionOValorAgregado BIT,
            @ProcesoTransformacionOValorAgregadoEspecificar VARCHAR(500),
            @IdDestinoDeLaProduccion INT,
            @SiVentaEspecificarCanalesComercializacion VARCHAR(500),
            @IdCategoriaExplotacionAgricola INT,
            @IdOrientacionTecnicoEco INT,
            @ComentarioExplotacionAgricola VARCHAR(500),
            @TieneAbejasSinAguijon BIT,
            @DesdeCuandoLasTiene DATETIME,
            @OtrasEspeciesAbeja VARCHAR(500),
            @DondeYComoObtuvoEsasColmenas VARCHAR(500),
            @ProduceMiel  BIT,
            @ComoCosechaLaMiel VARCHAR(500),
            @IdDestinoMiel INT,
            @DondeSeVendeMielEspecificar  VARCHAR(500),
            @PrecioVentaMiel DECIMAL(20,6),
            @IdDondeColocaLasColmenas INT,
            @DondeSeUbicanLasColmenas VARCHAR(500),
            @DiagnosticoVisualDelMeliponarioYSuEntorno VARCHAR(500),
            @IdPotencialLugarParaTenerAbejas INT,
            @IdRiesgoRoboColmenas INT,
            @FotoMeliponario IMAGE,
            @CualEsSuMotivacionParaTenerLasAbejas  VARCHAR(500),
            @ComoAprendioACriarLasAbejas  VARCHAR(500),
            @IdNivelConocimientoMeliponicultura INT,
            @ComentariosMeliponicultura  VARCHAR(500),
            @QueEsLoQueMejorariaSuCalidadDeVida  VARCHAR(500),
            @CualesSonLosFrenosCalidadDeVida VARCHAR(500),
            @ComoMejorariaSuActividadAgricola  VARCHAR(500),
            @CualesSonLosFrenosActividadAgricola VARCHAR(500),
            @EnQueLeGustariaQueACFNLoPuedaApoyar VARCHAR(500),
            @CualesSon3FortalezasDeSuComunidad VARCHAR(500),
            @CualesSon3PrincipalesProblemasComunidad  VARCHAR(500),
            @QueSolucionesPropondriaMejorarComunidad VARCHAR(500),
            @CualesSonLosFrenosImpidenHacerEsasSoluciones  VARCHAR(500),
            @Fortalezas VARCHAR(500),
            @Debilidades VARCHAR(500),
            @Oportunidades VARCHAR(500),
            @Amenazas VARCHAR(500),
            @ProyectosPotenciales VARCHAR(500),
            @ComentarioGeneral VARCHAR(500),
            @IndicadorBienestarSocialYFamiliarDelHogar DECIMAL(20,6),
            @IndicadorBienestarEconomicoYMaterialDelHogar DECIMAL(20,6),
            @IndicadorSoberaniaAlimenticia DECIMAL(20,6),
            @IndicadorFelicidad DECIMAL(20,6),
            @Estado VARCHAR(50),
            @Usuario VARCHAR(50),
            @Dispositivo VARCHAR(50),
            @FechaCreacion DATETIME,
            @FechaCreacionUtc VARCHAR(50),
            @FechaModificacion  DATETIME,
            @FechaModificacionUtc VARCHAR(50),
            @Transaccion VARCHAR(50)
   )
AS
BEGIN

DECLARE @TRANCOUNTER INT = 0;

SET NOCOUNT ON;

SET  TRANSACTION ISOLATION LEVEL SERIALIZABLE

   BEGIN TRAN [PRODUCTORTRACK]

   BEGIN TRY

   -- CLAVES FORANEAS
	IF (@IdEstadoDiagnostico = 0)  BEGIN  SET @IdEstadoDiagnostico = null; END
	IF (@IdEstadoCivil = 0)  BEGIN  SET @IdEstadoCivil = null; END
	IF (@IdPais = 0)  BEGIN  SET @IdPais = null; END
	IF (@IdGrupo = 0)  BEGIN  SET @IdGrupo = null; END
	IF (@IdDivisionAdministrativa1 = 0)  BEGIN  SET @IdDivisionAdministrativa1 = null; END
	IF (@IdDivisionAdministrativa2 = 0)  BEGIN  SET @IdDivisionAdministrativa2 = null; END
	IF (@IdDivisionAdministrativa3 = 0)  BEGIN  SET @IdDivisionAdministrativa3 = null; END
	IF (@IdTerritorio = 0)  BEGIN  SET @IdTerritorio = null; END
	IF (@IdCategoriaActividadPrincipal = 0)  BEGIN  SET @IdCategoriaActividadPrincipal = null; END
	IF (@IdActividadAgricola = 0)  BEGIN  SET @IdActividadAgricola = null; END
	IF (@IdFacilidadAccesoComunidad  = 0)  BEGIN  SET @IdFacilidadAccesoComunidad  = null; END
	IF (@IdFacilidadAccesoVivienda = 0)  BEGIN  SET @IdFacilidadAccesoVivienda = null; END
	IF (@IdTiempoLlegarCentroEducativo = 0)  BEGIN  SET @IdTiempoLlegarCentroEducativo = null; END
	IF (@IdTiempoLlegarCentroSalud = 0)  BEGIN  SET @IdTiempoLlegarCentroSalud = null; END
	IF (@IdExistenciaTransportePublico = 0)  BEGIN  SET @IdExistenciaTransportePublico = null; END
	IF (@IdPosesionMedioTransportePublico = 0)  BEGIN  SET @IdPosesionMedioTransportePublico = null; END
	IF (@IdEstructuraGeneracionalHogar = 0)  BEGIN  SET @IdEstructuraGeneracionalHogar = null; END
	IF (@IdUstedConsideraContarConApoyoDeSuFamilia = 0)  BEGIN  SET @IdUstedConsideraContarConApoyoDeSuFamilia = null; END
	IF (@IdApoyoVecinosCasoNecesidad = 0)  BEGIN  SET @IdApoyoVecinosCasoNecesidad = null; END
	IF (@IdAmbienteSocialComunidad = 0)  BEGIN  SET @IdAmbienteSocialComunidad = null; END
	IF (@IdSuViviendaEs = 0)  BEGIN  SET @IdSuViviendaEs = null; END
	IF (@IdLaViviendaEsANombreSuyo = 0)  BEGIN  SET @IdLaViviendaEsANombreSuyo = null; END
	IF (@IdEstadoGeneralViviendaACFN = 0)  BEGIN  SET @IdEstadoGeneralViviendaACFN = null; END
    IF (@IdEstadoGeneralViviendaProductor = 0)  BEGIN  SET @IdEstadoGeneralViviendaProductor = null; END
	IF (@IdFuenteAguaVivienda  = 0)  BEGIN  SET @IdFuenteAguaVivienda  = null; END
	IF (@IdConLosIngresosUstedEstimaQue  = 0)  BEGIN  SET @IdConLosIngresosUstedEstimaQue  = null; END
	IF (@IdConLaActualSituacionEconomica  = 0)  BEGIN  SET @IdConLaActualSituacionEconomica  = null; END
    IF (@IdUstedConsideraQueSuHogarEs  = 0)  BEGIN  SET @IdUstedConsideraQueSuHogarEs  = null; END
	IF (@IdProporcionAutoconsumoAlimentosHogar  = 0)  BEGIN  SET @IdProporcionAutoconsumoAlimentosHogar  = null; END
	IF (@IdLograProducir  = 0)  BEGIN  SET @IdLograProducir  = null; END
	IF (@IdDondeUstedProduce = 0)  BEGIN  SET @IdDondeUstedProduce  = null; END
    IF (@IdElTamannoDeSuParcelaEs  = 0)  BEGIN  SET @IdElTamannoDeSuParcelaEs = null; END
	IF (@IdAUstedLeGustaria  = 0)  BEGIN  SET @IdAUstedLeGustaria  = null; END
    IF (@IdFormaJuridicaExplotacion  = 0)  BEGIN  SET @IdFormaJuridicaExplotacion  = null; END
	IF (@IdTenenciaDeLaTierra  = 0)  BEGIN  SET @IdTenenciaDeLaTierra  = null; END
	IF (@IdAbono  = 0)  BEGIN  SET @IdAbono  = null; END
	IF (@IdControlDeMaleza  = 0)  BEGIN  SET @IdControlDeMaleza  = null; END
	IF (@IdPlaguicidas  = 0)  BEGIN  SET @IdPlaguicidas  = null; END
	IF (@IdOrigenDeLasSemillas  = 0)  BEGIN  SET @IdOrigenDeLasSemillas  = null; END
	IF (@IdSistemaRiegoCultivos  = 0)  BEGIN  SET @IdSistemaRiegoCultivos  = null; END
	IF (@IdCategoriaManejo  = 0)  BEGIN  SET @IdCategoriaManejo = null; END
	IF (@IdCategoriaMecanizacion  = 0)  BEGIN  SET @IdCategoriaMecanizacion = null; END
	IF (@IdCategoriaInfraestructura  = 0)  BEGIN  SET @IdCategoriaInfraestructura  = null; END
	IF (@IdDestinoDeLaProduccion  = 0)  BEGIN  SET @IdDestinoDeLaProduccion  = null; END
	IF (@IdCategoriaExplotacionAgricola  = 0)  BEGIN  SET @IdCategoriaExplotacionAgricola  = null; END
	IF (@IdOrientacionTecnicoEco  = 0)  BEGIN  SET @IdOrientacionTecnicoEco  = null; END
	IF (@IdDestinoMiel  = 0)  BEGIN  SET @IdDestinoMiel  = null; END
	IF (@IdDondeColocaLasColmenas  = 0)  BEGIN  SET @IdDondeColocaLasColmenas  = null; END
	IF (@IdPotencialLugarParaTenerAbejas  = 0)  BEGIN  SET @IdPotencialLugarParaTenerAbejas  = null; END
	IF (@IdRiesgoRoboColmenas  = 0)  BEGIN  SET @IdRiesgoRoboColmenas  = null; END
	IF (@IdNivelConocimientoMeliponicultura  = 0)  BEGIN  SET @IdNivelConocimientoMeliponicultura  = null; END
	
	-- TIPO VARCHAR
	IF (LEN(@CodigoFloranueva) = 0) BEGIN SET @CodigoFloraNueva = NULL; END
	IF (LEN(@PerteneceAAlgunGrupoEtnico) = 0) BEGIN SET @PerteneceAAlgunGrupoEtnico = NULL; END
	IF (LEN(@DivisionAdministrativa4) = 0) BEGIN SET @DivisionAdministrativa4 = NULL; END
	IF (LEN(@DireccionExacta) = 0 ) BEGIN SET @DireccionExacta = NULL; END
	IF (LEN(@ComentariosUbicacion ) = 0 )BEGIN SET @ComentariosUbicacion  = NULL; END
	IF (LEN(@ActividadLaboralPrincipal) = 0) BEGIN SET @ActividadLaboralPrincipal = NULL; END
	IF (LEN(@ActividadLaboralSecundaria) = 0) BEGIN SET @ActividadLaboralSecundaria = NULL; END
	IF (LEN(@EspecificarMediosTransporte) = 0 ) BEGIN SET @EspecificarMediosTransporte = NULL; END
	IF (LEN(@MiembroActivoEspecificar) = 0 ) BEGIN SET @MiembroActivoEspecificar = NULL; END
	IF (LEN(@LaViviendaEsANombreSuyoEspecificar) = 0) BEGIN SET @LaViviendaEsANombreSuyoEspecificar = NULL; END
	IF (LEN(@RecibeAyudaFinancieraEspecificar) = 0) BEGIN SET @RecibeAyudaFinancieraEspecificar = NULL; END
	IF (LEN(@ParaQueNoAlcanzaPresupuestoHogar) = 0) BEGIN SET @ParaQueNoAlcanzaPresupuestoHogar = NULL; END
    IF (LEN(@NombreOrganizacionAgropecuaria) = 0) BEGIN SET @NombreOrganizacionAgropecuaria= NULL; END
    IF (LEN(@SiEsANombreDeOtraPersonaEspecificar) = 0) BEGIN SET @SiEsANombreDeOtraPersonaEspecificar = NULL; END
    IF (LEN(@EspecificarUbicacionDeLaTierra ) = 0) BEGIN SET @EspecificarUbicacionDeLaTierra  = NULL; END
    IF (LEN(@MiniDescripcionDeLaFinca) = 0 )BEGIN SET @MiniDescripcionDeLaFinca = NULL; END
    IF (LEN(@CualEsSuProduccionPrincipal) = 0) BEGIN SET @CualEsSuProduccionPrincipal = NULL; END
    IF (LEN(@CualesSonLasOtrasProduccionesQueTiene ) = 0) BEGIN SET @CualesSonLasOtrasProduccionesQueTiene  = NULL; END
	IF (LEN(@CertificacionEspecificar) = 0) BEGIN SET @CertificacionEspecificar = NULL; END
    IF (LEN(@ComentarioDeManejo)) = 0 BEGIN SET @ComentarioDeManejo = NULL; END
    IF (LEN(@ListaMaquinariaDisponibleEnLaFinca ) = 0) BEGIN SET @ListaMaquinariaDisponibleEnLaFinca  = NULL; END
	IF (LEN(@ListaInfraestructuraDisponibleEnLaFinca ) = 0) BEGIN SET @ListaInfraestructuraDisponibleEnLaFinca = NULL; END
    IF (LEN(@ProcesoTransformacionOValorAgregadoEspecificar) = 0) BEGIN SET @ProcesoTransformacionOValorAgregadoEspecificar = NULL; END
    IF (LEN(@SiVentaEspecificarCanalesComercializacion) = 0) BEGIN SET @SiVentaEspecificarCanalesComercializacion = NULL; END
    IF (LEN(@ComentarioExplotacionAgricola ) = 0) BEGIN SET @ComentarioExplotacionAgricola  = NULL; END
	IF (LEN(@OtrasEspeciesAbeja) = 0)BEGIN SET @OtrasEspeciesAbeja = NULL; END
    IF (LEN(@DondeYComoObtuvoEsasColmenas ) = 0) BEGIN SET @DondeYComoObtuvoEsasColmenas  = NULL; END
    IF (LEN(@ComoCosechaLaMiel ) = 0) BEGIN SET @ComoCosechaLaMiel = NULL; END 
	IF (LEN(@DondeSeVendeMielEspecificar) = 0) BEGIN SET @DondeSeVendeMielEspecificar = NULL; END
    IF (LEN(@DondeSeUbicanLasColmenas) = 0) BEGIN SET @DondeSeUbicanLasColmenas = NULL; END
	IF (LEN(@DiagnosticoVisualDelMeliponarioYSuEntorno  ) = 0) BEGIN SET @DiagnosticoVisualDelMeliponarioYSuEntorno   = NULL; END
    IF (LEN(@CualEsSuMotivacionParaTenerLasAbejas) = 0) BEGIN SET @CualEsSuMotivacionParaTenerLasAbejas = NULL; END 
	IF (LEN(@ComoAprendioACriarLasAbejas) = 0) BEGIN SET @ComoAprendioACriarLasAbejas = NULL; END
    IF (LEN(@ComentariosMeliponicultura ) = 0) BEGIN SET @ComentariosMeliponicultura = NULL; END
	IF (LEN(@QueEsLoQueMejorariaSuCalidadDeVida ) = 0) BEGIN SET @QueEsLoQueMejorariaSuCalidadDeVida = NULL; END
    IF (LEN(@CualesSonLosFrenosCalidadDeVida ) = 0) BEGIN SET @CualesSonLosFrenosCalidadDeVida  = NULL; END
    IF (LEN(@ComoMejorariaSuActividadAgricola ) = 0) BEGIN SET @ComoMejorariaSuActividadAgricola = NULL; END 
	IF (LEN(@CualesSonLosFrenosActividadAgricola) = 0) BEGIN SET @CualesSonLosFrenosActividadAgricola = NULL; END
    IF (LEN(@EnQueLeGustariaQueACFNLoPuedaApoyar) = 0) BEGIN SET @EnQueLeGustariaQueACFNLoPuedaApoyar = NULL; END
	IF (LEN(@CualesSon3FortalezasDeSuComunidad  ) = 0) BEGIN SET @CualesSon3FortalezasDeSuComunidad = NULL; END
    IF (LEN(@CualesSon3PrincipalesProblemasComunidad) = 0) BEGIN SET @CualesSon3PrincipalesProblemasComunidad = NULL; END 
	IF (LEN(@QueSolucionesPropondriaMejorarComunidad) = 0) BEGIN SET @QueSolucionesPropondriaMejorarComunidad = NULL; END
    IF (LEN(@CualesSonLosFrenosImpidenHacerEsasSoluciones ) = 0) BEGIN SET @CualesSonLosFrenosImpidenHacerEsasSoluciones = NULL; END
	IF (LEN(@Fortalezas ) = 0) BEGIN SET @Fortalezas = NULL; END 
	IF (LEN(@Debilidades) = 0) BEGIN SET @Debilidades = NULL; END
    IF (LEN(@Oportunidades) = 0) BEGIN SET @Oportunidades = NULL; END
	IF (LEN(@Amenazas  ) = 0) BEGIN SET @Amenazas = NULL; END
    IF (LEN(@ProyectosPotenciales) = 0) BEGIN SET @ProyectosPotenciales = NULL; END 
	IF (LEN(@ComentarioGeneral) = 0) BEGIN SET @ComentarioGeneral = NULL; END

   INSERT INTO  ProductorTrack 
   (
            Identificador, 
            IdUsuarioEncuestador ,
            FechaEncuesta ,
            VisitaALaCasa ,
            IdEstadoDiagnostico ,
            Nombres ,
            Apellido1 ,
            Apellido2 ,
            Foto ,
            CodigoFloraNueva ,
            Sexo ,
            NumeroCedula ,
            FechaNacimiento ,
            IdEstadoCivil ,
            PerteneceAAlgunGrupoEtnico ,
            IdPais ,
			IdGrupo ,
            IdDivisionAdministrativa1  ,
            IdDivisionAdministrativa2  ,
            IdDivisionAdministrativa3 ,
            DivisionAdministrativa4 ,
            DireccionExacta ,
            IdTerritorio ,     
            GPSLatitud ,
            GPSLongitud ,
            Altitud ,
            ComentariosUbicacion ,
            ActividadLaboralPrincipal ,
            ActividadLaboralSecundaria ,
            IdCategoriaActividadPrincipal ,
            IdActividadAgricola ,
            TotalPersonasHogar ,
            TotalPersonasActivasEconomicamente ,
            TotalPersonasDependientes ,
            IndiceInsercionLaboralProductor ,
            IndiceNivelEducativoProductor ,
            IndiceCiudadaniaSocialProductor ,
            IndiceInsercionProductivaProductor ,
            IndiceInclusionSocialProductor ,
            IndiceInsercionLaboralHogar ,
            IndiceNivelEducativoHogar ,
            IndiceCiudadaniaSocialHogar,
            IndiceInsercionProductivaHogar ,
            TasaActividadEconomicaHogar ,
            IndiceInclusionSocialHogar ,
            IdFacilidadAccesoComunidad ,
            IdFacilidadAccesoVivienda ,
            IndiceFacilidadAcceso ,
            IdTiempoLlegarCentroEducativo ,
            IdTiempoLlegarCentroSalud ,
            IndiceCercaniaCentrosBasicos ,
            IdExistenciaTransportePublico ,
            IdPosesionMedioTransportePublico ,
            EspecificarMediosTransporte ,
            IndiceCapacidadDesplazamiento ,
            IndiceConexionProximidadGeografica ,
            IdEstructuraGeneracionalHogar ,
            OtrosFamiliaresVivenEnLaMismaComunidad ,
            IdUstedConsideraContarConApoyoDeSuFamilia ,
            IndiceCercaniaRelacionFamiliar ,
            IdApoyoVecinosCasoNecesidad ,
            IdAmbienteSocialComunidad ,
            SeSienteUstedRealmenteParteComunidad ,
            UstedEsUnMiembroActivoDeAlgunGrupo ,
            MiembroActivoEspecificar ,
            IndiceCercaniaRelacionComunidad ,
            IndiceRelacionesSociales ,
            IndiceGlobalBienestarSocialFamiliar ,
            IdSuViviendaEs ,
            IdLaViviendaEsANombreSuyo ,
            LaViviendaEsANombreSuyoEspecificar ,
            IdEstadoGeneralViviendaACFN ,
            IdEstadoGeneralViviendaProductor ,
            CantidadDormitorios ,
            HacinamientoPorDormitorios ,
            IndiceHacinamiento ,
            IndiceEstadoVivienda ,
            IndiceVivienda ,
            IdFuenteAguaVivienda ,
            AccesoALaElectricidad ,
            IndiceServiciosBasicos ,
            TieneTelefonoResidencial ,
            TieneTelefonoCelular ,
            TieneSennalTelefoniaMovilEnSuCasa ,
            TieneAccesoAInternet ,
            IndiceServiciosComunicacion ,
            IndiceAccesoAServicios ,
            RecibeAyudaFinanciera ,
            RecibeAyudaFinancieraEspecificar ,
            PresupuestoSuficienteCubrirGastosBasicos ,
            ParaQueNoAlcanzaPresupuestoHogar  ,
            IdConLosIngresosUstedEstimaQue ,
            MontoMinimoMensualParaVivir ,
            IdConLaActualSituacionEconomica ,
            IdUstedConsideraQueSuHogarEs ,
            IndiceNivelVida ,
            IndiceBienestarEconomicoMaterialHogar ,
            UstedProduceAlimentosParaSuHogar ,
            GranosBasicos ,
            Hortalizas  ,
            Frutas ,
            AnimalesYSusProductos  ,
            ProductosTransformados  ,
            PlantasAromaticasYMedicinales  ,
            QueProduceParaSuHogarOtros ,
            IdProporcionAutoconsumoAlimentosHogar ,
            IdLograProducir ,
            IdDondeUstedProduce ,
            IdElTamannoDeSuParcelaEs ,
            IdAUstedLeGustaria ,
            TamannoParcela ,
            ManoObra ,
            FertilidadSuelos ,
            TiempoDisponible ,
            RecursosFinancierosInvertirYTrabajar ,
            RiesgosNaturalesMuyFrecuentes ,
            OtrasLimitantes ,
            NoPoseeTierras ,
            NoPoseeConocimientos ,
            TrabajaEnOtroSectorYNoTieneTiempo ,
            NoLeInteresaPrefiereComprar ,
            ElLugarNoEsAptoParaCultivar ,
            OtrasRazones ,
            IndiceSoberaniaAlimenticia ,
            FelicidadSuTrabajo ,
            FelicidadSuSituacionFinanciera ,
            FelicidadSuEstadoSalud ,
            FelicidadSuVivienda ,
            FelicidadSuTiempoLibre ,
            FelicidadSuFamilia ,
            FelicidadSuEducacion ,
            FelicidadElMedioAmbiente ,
            FelicidadSuVidaSocial ,
            FelicidadSuParticipacionDentroComunidad ,
            IndiceFelicidad ,
            IdFormaJuridicaExplotacion ,
            PerteneceAUnaOrganizacionAgropecuaria ,
            NombreOrganizacionAgropecuaria ,
            IdTenenciaDeLaTierra ,
            ANombreDeQuienEstaElTerreno ,
            SiEsANombreDeOtraPersonaEspecificar ,
            EspecificarUbicacionDeLaTierra ,
            SuperficieDeLaParcela ,
            MiniDescripcionDeLaFinca ,
            FotoParcela ,
            CualEsSuProduccionPrincipal ,
            CualesSonLasOtrasProduccionesQueTiene ,
            IdAbono ,
            IdControlDeMaleza ,
            IdPlaguicidas ,
            IdOrigenDeLasSemillas ,
            IdSistemaRiegoCultivos ,
            PoseeUnaCertificacion ,
            CertificacionEspecificar ,
            IdCategoriaManejo ,
            ComentarioDeManejo ,
            ListaMaquinariaDisponibleEnLaFinca ,
            IdCategoriaMecanizacion ,
            ListaInfraestructuraDisponibleEnLaFinca ,
            IdCategoriaInfraestructura ,
            RealizaAlgunProcesoTransformacionOValorAgregado ,
            ProcesoTransformacionOValorAgregadoEspecificar ,
            IdDestinoDeLaProduccion ,
            SiVentaEspecificarCanalesComercializacion ,
            IdCategoriaExplotacionAgricola ,
            IdOrientacionTecnicoEco ,
            ComentarioExplotacionAgricola ,
            TieneAbejasSinAguijon ,
            DesdeCuandoLasTiene ,
            OtrasEspeciesAbeja ,
            DondeYComoObtuvoEsasColmenas ,
            ProduceMiel  ,
            ComoCosechaLaMiel ,
            IdDestinoMiel ,
            DondeSeVendeMielEspecificar  ,
            PrecioVentaMiel ,
            IdDondeColocaLasColmenas ,
            DondeSeUbicanLasColmenas ,
            DiagnosticoVisualDelMeliponarioYSuEntorno ,
            IdPotencialLugarParaTenerAbejas ,
            IdRiesgoRoboColmenas,
            FotoMeliponario ,
            CualEsSuMotivacionParaTenerLasAbejas  ,
            ComoAprendioACriarLasAbejas  ,
            IdNivelConocimientoMeliponicultura ,
            ComentariosMeliponicultura  ,
            QueEsLoQueMejorariaSuCalidadDeVida  ,
            CualesSonLosFrenosCalidadDeVida ,
            ComoMejorariaSuActividadAgricola  ,
            CualesSonLosFrenosActividadAgricola ,
            EnQueLeGustariaQueACFNLoPuedaApoyar ,
            CualesSon3FortalezasDeSuComunidad ,
            CualesSon3PrincipalesProblemasComunidad  ,
            QueSolucionesPropondriaMejorarComunidad ,
            CualesSonLosFrenosImpidenHacerEsasSoluciones  ,
            Fortalezas ,
            Debilidades ,
            Oportunidades ,
            Amenazas ,
            ProyectosPotenciales ,
            ComentarioGeneral ,
            IndicadorBienestarSocialYFamiliarDelHogar ,
            IndicadorBienestarEconomicoYMaterialDelHogar ,
            IndicadorSoberaniaAlimenticia ,
            IndicadorFelicidad ,
            Estado ,
            Usuario ,
            Dispositivo ,
            FechaCreacion ,
            FechaCreacionUtc ,
            FechaModificacion  ,
            FechaModificacionUtc ,
            Transaccion 
   ) 
    VALUES 
   (
            @Identificador, 
            @IdUsuarioEncuestador ,
            @FechaEncuesta ,
            @VisitaALaCasa ,
            @IdEstadoDiagnostico ,
            @Nombres ,
            @Apellido1 ,
            @Apellido2 ,
            @Foto ,
            @CodigoFloraNueva ,
            @Sexo ,
            @NumeroCedula ,
            @FechaNacimiento ,
            @IdEstadoCivil ,
            @PerteneceAAlgunGrupoEtnico ,
            @IdPais ,
		    @IdGrupo ,
            @IdDivisionAdministrativa1  ,
            @IdDivisionAdministrativa2  ,
            @IdDivisionAdministrativa3 ,
            @DivisionAdministrativa4 ,
            @DireccionExacta ,
            @IdTerritorio ,     
            @GPSLatitud ,
            @GPSLongitud ,
            @Altitud ,
            @ComentariosUbicacion ,
            @ActividadLaboralPrincipal ,
            @ActividadLaboralSecundaria ,
            @IdCategoriaActividadPrincipal ,
            @IdActividadAgricola ,
            @TotalPersonasHogar ,
            @TotalPersonasActivasEconomicamente ,
            @TotalPersonasDependientes ,
            @IndiceInsercionLaboralProductor ,
            @IndiceNivelEducativoProductor ,
            @IndiceCiudadaniaSocialProductor ,
            @IndiceInsercionProductivaProductor ,
            @IndiceInclusionSocialProductor ,
            @IndiceInsercionLaboralHogar ,
            @IndiceNivelEducativoHogar ,
            @IndiceCiudadaniaSocialHogar,
            @IndiceInsercionProductivaHogar ,
            @TasaActividadEconomicaHogar ,
            @IndiceInclusionSocialHogar ,
            @IdFacilidadAccesoComunidad ,
            @IdFacilidadAccesoVivienda ,
            @IndiceFacilidadAcceso ,
            @IdTiempoLlegarCentroEducativo ,
            @IdTiempoLlegarCentroSalud ,
            @IndiceCercaniaCentrosBasicos ,
            @IdExistenciaTransportePublico ,
            @IdPosesionMedioTransportePublico ,
            @EspecificarMediosTransporte ,
            @IndiceCapacidadDesplazamiento ,
            @IndiceConexionProximidadGeografica ,
            @IdEstructuraGeneracionalHogar ,
            @OtrosFamiliaresVivenEnLaMismaComunidad ,
            @IdUstedConsideraContarConApoyoDeSuFamilia ,
            @IndiceCercaniaRelacionFamiliar ,
            @IdApoyoVecinosCasoNecesidad ,
            @IdAmbienteSocialComunidad ,
            @SeSienteUstedRealmenteParteComunidad ,
            @UstedEsUnMiembroActivoDeAlgunGrupo ,
            @MiembroActivoEspecificar ,
            @IndiceCercaniaRelacionComunidad ,
            @IndiceRelacionesSociales ,
            @IndiceGlobalBienestarSocialFamiliar ,
            @IdSuViviendaEs ,
            @IdLaViviendaEsANombreSuyo ,
            @LaViviendaEsANombreSuyoEspecificar ,
            @IdEstadoGeneralViviendaACFN ,
            @IdEstadoGeneralViviendaProductor ,
            @CantidadDormitorios ,
            @HacinamientoPorDormitorios ,
            @IndiceHacinamiento ,
            @IndiceEstadoVivienda ,
            @IndiceVivienda ,
            @IdFuenteAguaVivienda ,
            @AccesoALaElectricidad ,
            @IndiceServiciosBasicos ,
            @TieneTelefonoResidencial ,
            @TieneTelefonoCelular ,
            @TieneSennalTelefoniaMovilEnSuCasa ,
            @TieneAccesoAInternet ,
            @IndiceServiciosComunicacion ,
            @IndiceAccesoAServicios ,
            @RecibeAyudaFinanciera ,
            @RecibeAyudaFinancieraEspecificar ,
            @PresupuestoSuficienteCubrirGastosBasicos ,
            @ParaQueNoAlcanzaPresupuestoHogar  ,
            @IdConLosIngresosUstedEstimaQue ,
            @MontoMinimoMensualParaVivir ,
            @IdConLaActualSituacionEconomica ,
            @IdUstedConsideraQueSuHogarEs ,
            @IndiceNivelVida ,
            @IndiceBienestarEconomicoMaterialHogar ,
            @UstedProduceAlimentosParaSuHogar ,
            @GranosBasicos ,
            @Hortalizas  ,
            @Frutas ,
            @AnimalesYSusProductos  ,
            @ProductosTransformados  ,
            @PlantasAromaticasYMedicinales  ,
            @QueProduceParaSuHogarOtros ,
            @IdProporcionAutoconsumoAlimentosHogar ,
            @IdLograProducir ,
            @IdDondeUstedProduce ,
            @IdElTamannoDeSuParcelaEs ,
            @IdAUstedLeGustaria ,
            @TamannoParcela ,
            @ManoObra ,
            @FertilidadSuelos ,
            @TiempoDisponible ,
            @RecursosFinancierosInvertirYTrabajar ,
            @RiesgosNaturalesMuyFrecuentes ,
            @OtrasLimitantes ,
            @NoPoseeTierras ,
            @NoPoseeConocimientos ,
            @TrabajaEnOtroSectorYNoTieneTiempo ,
            @NoLeInteresaPrefiereComprar ,
            @ElLugarNoEsAptoParaCultivar ,
            @OtrasRazones ,
            @IndiceSoberaniaAlimenticia ,
            @FelicidadSuTrabajo ,
            @FelicidadSuSituacionFinanciera ,
            @FelicidadSuEstadoSalud ,
            @FelicidadSuVivienda ,
            @FelicidadSuTiempoLibre ,
            @FelicidadSuFamilia ,
            @FelicidadSuEducacion ,
            @FelicidadElMedioAmbiente ,
            @FelicidadSuVidaSocial ,
            @FelicidadSuParticipacionDentroComunidad ,
            @IndiceFelicidad ,
            @IdFormaJuridicaExplotacion ,
            @PerteneceAUnaOrganizacionAgropecuaria ,
            @NombreOrganizacionAgropecuaria ,
            @IdTenenciaDeLaTierra ,
            @ANombreDeQuienEstaElTerreno ,
            @SiEsANombreDeOtraPersonaEspecificar ,
            @EspecificarUbicacionDeLaTierra ,
            @SuperficieDeLaParcela ,
            @MiniDescripcionDeLaFinca ,
            @FotoParcela ,
            @CualEsSuProduccionPrincipal ,
            @CualesSonLasOtrasProduccionesQueTiene ,
            @IdAbono ,
            @IdControlDeMaleza ,
            @IdPlaguicidas ,
            @IdOrigenDeLasSemillas ,
            @IdSistemaRiegoCultivos ,
            @PoseeUnaCertificacion ,
            @CertificacionEspecificar ,
            @IdCategoriaManejo ,
            @ComentarioDeManejo ,
            @ListaMaquinariaDisponibleEnLaFinca ,
            @IdCategoriaMecanizacion ,
            @ListaInfraestructuraDisponibleEnLaFinca ,
            @IdCategoriaInfraestructura ,
            @RealizaAlgunProcesoTransformacionOValorAgregado ,
            @ProcesoTransformacionOValorAgregadoEspecificar ,
            @IdDestinoDeLaProduccion ,
            @SiVentaEspecificarCanalesComercializacion ,
            @IdCategoriaExplotacionAgricola ,
            @IdOrientacionTecnicoEco ,
            @ComentarioExplotacionAgricola ,
            @TieneAbejasSinAguijon ,
            @DesdeCuandoLasTiene ,
            @OtrasEspeciesAbeja ,
            @DondeYComoObtuvoEsasColmenas ,
            @ProduceMiel  ,
            @ComoCosechaLaMiel ,
            @IdDestinoMiel ,
            @DondeSeVendeMielEspecificar  ,
            @PrecioVentaMiel ,
            @IdDondeColocaLasColmenas ,
            @DondeSeUbicanLasColmenas ,
            @DiagnosticoVisualDelMeliponarioYSuEntorno ,
            @IdPotencialLugarParaTenerAbejas ,
            @IdRiesgoRoboColmenas ,
            @FotoMeliponario ,
            @CualEsSuMotivacionParaTenerLasAbejas  ,
            @ComoAprendioACriarLasAbejas  ,
            @IdNivelConocimientoMeliponicultura ,
            @ComentariosMeliponicultura  ,
            @QueEsLoQueMejorariaSuCalidadDeVida  ,
            @CualesSonLosFrenosCalidadDeVida ,
            @ComoMejorariaSuActividadAgricola  ,
            @CualesSonLosFrenosActividadAgricola ,
            @EnQueLeGustariaQueACFNLoPuedaApoyar ,
            @CualesSon3FortalezasDeSuComunidad ,
            @CualesSon3PrincipalesProblemasComunidad  ,
            @QueSolucionesPropondriaMejorarComunidad ,
            @CualesSonLosFrenosImpidenHacerEsasSoluciones  ,
            @Fortalezas ,
            @Debilidades ,
            @Oportunidades ,
            @Amenazas ,
            @ProyectosPotenciales ,
            @ComentarioGeneral ,
            @IndicadorBienestarSocialYFamiliarDelHogar ,
            @IndicadorBienestarEconomicoYMaterialDelHogar ,
            @IndicadorSoberaniaAlimenticia ,
            @IndicadorFelicidad ,
            @Estado ,
            @Usuario ,
            @Dispositivo ,
            @FechaCreacion ,
            @FechaCreacionUtc ,
            @FechaModificacion  ,
            @FechaModificacionUtc ,
            @Transaccion 
   )

     SAVE TRAN [PRODUCTORTRACK]
     SET @TRANCOUNTER = 1
	 BEGIN TRAN [PRODUCTOR]

   UPDATE PRODUCTOR SET
            IdUsuarioEncuestador = @IdUsuarioEncuestador ,
            FechaEncuesta = @FechaEncuesta ,
            VisitaALaCasa = @VisitaALaCasa ,
            IdEstadoDiagnostico = @IdEstadoDiagnostico ,
            Nombres = @Nombres ,
            Apellido1= @Apellido1 ,
            Apellido2 = @Apellido2 ,
            Foto = @Foto ,
            CodigoFloraNueva = @CodigoFloraNueva ,
            Sexo = @Sexo ,
            NumeroCedula = @NumeroCedula ,
            FechaNacimiento = @FechaNacimiento ,
            IdEstadoCivil = @IdEstadoCivil ,
            PerteneceAAlgunGrupoEtnico = @PerteneceAAlgunGrupoEtnico ,
            IdPais = @IdPais ,
		    IdGrupo = @IdGrupo ,
            IdDivisionAdministrativa1 = @IdDivisionAdministrativa1  ,
            IdDivisionAdministrativa2 = @IdDivisionAdministrativa2  ,
            IdDivisionAdministrativa3 = @IdDivisionAdministrativa3 ,
            DivisionAdministrativa4 = @DivisionAdministrativa4 ,
            DireccionExacta = @DireccionExacta ,
            IdTerritorio = @IdTerritorio ,     
            GPSLatitud = @GPSLatitud ,
            GPSLongitud  = @GPSLongitud ,
            Altitud = @Altitud ,
            ComentariosUbicacion = @ComentariosUbicacion ,
            ActividadLaboralPrincipal = @ActividadLaboralPrincipal ,
            ActividadLaboralSecundaria = @ActividadLaboralSecundaria ,
            IdCategoriaActividadPrincipal = @IdCategoriaActividadPrincipal ,
            IdActividadAgricola = @IdActividadAgricola ,
            TotalPersonasHogar = @TotalPersonasHogar ,
            TotalPersonasActivasEconomicamente = @TotalPersonasActivasEconomicamente ,
            TotalPersonasDependientes = @TotalPersonasDependientes ,
            IndiceInsercionLaboralProductor  = @IndiceInsercionLaboralProductor ,
            IndiceNivelEducativoProductor = @IndiceNivelEducativoProductor ,
            IndiceCiudadaniaSocialProductor = @IndiceCiudadaniaSocialProductor ,
            IndiceInsercionProductivaProductor =  @IndiceInsercionProductivaProductor ,
            IndiceInclusionSocialProductor = @IndiceInclusionSocialProductor ,
            IndiceInsercionLaboralHogar = @IndiceInsercionLaboralHogar ,
            IndiceNivelEducativoHogar = @IndiceNivelEducativoHogar ,
            IndiceCiudadaniaSocialHogar = @IndiceCiudadaniaSocialHogar,
            IndiceInsercionProductivaHogar = @IndiceInsercionProductivaHogar ,
            TasaActividadEconomicaHogar = @TasaActividadEconomicaHogar ,
            IndiceInclusionSocialHogar = @IndiceInclusionSocialHogar ,
            IdFacilidadAccesoComunidad = @IdFacilidadAccesoComunidad ,
            IdFacilidadAccesoVivienda = @IdFacilidadAccesoVivienda ,
            IndiceFacilidadAcceso = @IndiceFacilidadAcceso ,
            IdTiempoLlegarCentroEducativo = @IdTiempoLlegarCentroEducativo ,
            IdTiempoLlegarCentroSalud =  @IdTiempoLlegarCentroSalud ,
            IndiceCercaniaCentrosBasicos = @IndiceCercaniaCentrosBasicos ,
            IdExistenciaTransportePublico = @IdExistenciaTransportePublico ,
            IdPosesionMedioTransportePublico  = @IdPosesionMedioTransportePublico ,
            EspecificarMediosTransporte = @EspecificarMediosTransporte ,
            IndiceCapacidadDesplazamiento = @IndiceCapacidadDesplazamiento ,
            IndiceConexionProximidadGeografica = @IndiceConexionProximidadGeografica ,
            IdEstructuraGeneracionalHogar = @IdEstructuraGeneracionalHogar ,
            OtrosFamiliaresVivenEnLaMismaComunidad = @OtrosFamiliaresVivenEnLaMismaComunidad ,
            IdUstedConsideraContarConApoyoDeSuFamilia = @IdUstedConsideraContarConApoyoDeSuFamilia ,
            IndiceCercaniaRelacionFamiliar = @IndiceCercaniaRelacionFamiliar ,
            IdApoyoVecinosCasoNecesidad = @IdApoyoVecinosCasoNecesidad ,
            IdAmbienteSocialComunidad = @IdAmbienteSocialComunidad ,
            SeSienteUstedRealmenteParteComunidad = @SeSienteUstedRealmenteParteComunidad ,
            UstedEsUnMiembroActivoDeAlgunGrupo = @UstedEsUnMiembroActivoDeAlgunGrupo ,
            MiembroActivoEspecificar = @MiembroActivoEspecificar ,
            IndiceCercaniaRelacionComunidad = @IndiceCercaniaRelacionComunidad ,
            IndiceRelacionesSociales = @IndiceRelacionesSociales ,
            IndiceGlobalBienestarSocialFamiliar = @IndiceGlobalBienestarSocialFamiliar ,
            IdSuViviendaEs = @IdSuViviendaEs ,
            IdLaViviendaEsANombreSuyo = @IdLaViviendaEsANombreSuyo ,
            LaViviendaEsANombreSuyoEspecificar = @LaViviendaEsANombreSuyoEspecificar ,
            IdEstadoGeneralViviendaACFN =@IdEstadoGeneralViviendaACFN ,
            IdEstadoGeneralViviendaProductor = @IdEstadoGeneralViviendaProductor ,
            CantidadDormitorios = @CantidadDormitorios ,
            HacinamientoPorDormitorios = @HacinamientoPorDormitorios ,
            IndiceHacinamiento = @IndiceHacinamiento ,
            IndiceEstadoVivienda = @IndiceEstadoVivienda ,
            IndiceVivienda = @IndiceVivienda ,
            IdFuenteAguaVivienda = @IdFuenteAguaVivienda ,
            AccesoALaElectricidad = @AccesoALaElectricidad ,
            IndiceServiciosBasicos = @IndiceServiciosBasicos ,
            TieneTelefonoResidencial = @TieneTelefonoResidencial ,
            TieneTelefonoCelular = @TieneTelefonoCelular ,
            TieneSennalTelefoniaMovilEnSuCasa = @TieneSennalTelefoniaMovilEnSuCasa ,
            TieneAccesoAInternet = @TieneAccesoAInternet ,
            IndiceServiciosComunicacion = @IndiceServiciosComunicacion ,
            IndiceAccesoAServicios = @IndiceAccesoAServicios ,
            RecibeAyudaFinanciera = @RecibeAyudaFinanciera ,
            RecibeAyudaFinancieraEspecificar = @RecibeAyudaFinancieraEspecificar ,
            PresupuestoSuficienteCubrirGastosBasicos = @PresupuestoSuficienteCubrirGastosBasicos ,
            ParaQueNoAlcanzaPresupuestoHogar = @ParaQueNoAlcanzaPresupuestoHogar  ,
            IdConLosIngresosUstedEstimaQue = @IdConLosIngresosUstedEstimaQue ,
            MontoMinimoMensualParaVivir = @MontoMinimoMensualParaVivir ,
            IdConLaActualSituacionEconomica = @IdConLaActualSituacionEconomica ,
            IdUstedConsideraQueSuHogarEs = @IdUstedConsideraQueSuHogarEs ,
            IndiceNivelVida = @IndiceNivelVida ,
            IndiceBienestarEconomicoMaterialHogar  = @IndiceBienestarEconomicoMaterialHogar ,
            UstedProduceAlimentosParaSuHogar = @UstedProduceAlimentosParaSuHogar ,
            GranosBasicos = @GranosBasicos ,
            Hortalizas = @Hortalizas  ,
            Frutas = @Frutas ,
            AnimalesYSusProductos = @AnimalesYSusProductos  ,
            ProductosTransformados = @ProductosTransformados  ,
            PlantasAromaticasYMedicinales = @PlantasAromaticasYMedicinales  ,
            QueProduceParaSuHogarOtros = @QueProduceParaSuHogarOtros ,
            IdProporcionAutoconsumoAlimentosHogar = @IdProporcionAutoconsumoAlimentosHogar ,
            IdLograProducir = @IdLograProducir ,
            IdDondeUstedProduce = @IdDondeUstedProduce ,
            IdElTamannoDeSuParcelaEs = @IdElTamannoDeSuParcelaEs ,
            IdAUstedLeGustaria = @IdAUstedLeGustaria ,
            TamannoParcela = @TamannoParcela ,
            ManoObra = @ManoObra ,
            FertilidadSuelos = @FertilidadSuelos ,
            TiempoDisponible = @TiempoDisponible ,
            RecursosFinancierosInvertirYTrabajar = @RecursosFinancierosInvertirYTrabajar ,
            RiesgosNaturalesMuyFrecuentes = @RiesgosNaturalesMuyFrecuentes ,
            OtrasLimitantes = @OtrasLimitantes ,
            NoPoseeTierras = @NoPoseeTierras ,
            NoPoseeConocimientos = @NoPoseeConocimientos ,
            TrabajaEnOtroSectorYNoTieneTiempo = @TrabajaEnOtroSectorYNoTieneTiempo ,
            NoLeInteresaPrefiereComprar = @NoLeInteresaPrefiereComprar ,
            ElLugarNoEsAptoParaCultivar = @ElLugarNoEsAptoParaCultivar ,
            OtrasRazones = @OtrasRazones ,
            IndiceSoberaniaAlimenticia = @IndiceSoberaniaAlimenticia ,
            FelicidadSuTrabajo = @FelicidadSuTrabajo ,
            FelicidadSuSituacionFinanciera = @FelicidadSuSituacionFinanciera ,
            FelicidadSuEstadoSalud = @FelicidadSuEstadoSalud ,
            FelicidadSuVivienda = @FelicidadSuVivienda ,
            FelicidadSuTiempoLibre = @FelicidadSuTiempoLibre ,
            FelicidadSuFamilia = @FelicidadSuFamilia ,
            FelicidadSuEducacion = @FelicidadSuEducacion ,
            FelicidadElMedioAmbiente = @FelicidadElMedioAmbiente ,
            FelicidadSuVidaSocial = @FelicidadSuVidaSocial ,
            FelicidadSuParticipacionDentroComunidad = @FelicidadSuParticipacionDentroComunidad ,
            IndiceFelicidad  = @IndiceFelicidad ,
            IdFormaJuridicaExplotacion = @IdFormaJuridicaExplotacion ,
            PerteneceAUnaOrganizacionAgropecuaria  = @PerteneceAUnaOrganizacionAgropecuaria ,
            NombreOrganizacionAgropecuaria  = @NombreOrganizacionAgropecuaria ,
            IdTenenciaDeLaTierra = @IdTenenciaDeLaTierra ,
            ANombreDeQuienEstaElTerreno = @ANombreDeQuienEstaElTerreno ,
            SiEsANombreDeOtraPersonaEspecificar = @SiEsANombreDeOtraPersonaEspecificar ,
            EspecificarUbicacionDeLaTierra = @EspecificarUbicacionDeLaTierra ,
            SuperficieDeLaParcela = @SuperficieDeLaParcela ,
            MiniDescripcionDeLaFinca = @MiniDescripcionDeLaFinca ,
            FotoParcela = @FotoParcela ,
            CualEsSuProduccionPrincipal = @CualEsSuProduccionPrincipal ,
            CualesSonLasOtrasProduccionesQueTiene = @CualesSonLasOtrasProduccionesQueTiene ,
            IdAbono = @IdAbono ,
            IdControlDeMaleza = @IdControlDeMaleza ,
            IdPlaguicidas = @IdPlaguicidas ,
            IdOrigenDeLasSemillas = @IdOrigenDeLasSemillas ,
            IdSistemaRiegoCultivos = @IdSistemaRiegoCultivos ,
            PoseeUnaCertificacion = @PoseeUnaCertificacion ,
            CertificacionEspecificar = @CertificacionEspecificar ,
            IdCategoriaManejo = @IdCategoriaManejo ,
            ComentarioDeManejo = @ComentarioDeManejo ,
            ListaMaquinariaDisponibleEnLaFinca = @ListaMaquinariaDisponibleEnLaFinca ,
            IdCategoriaMecanizacion = @IdCategoriaMecanizacion ,
            ListaInfraestructuraDisponibleEnLaFinca = @ListaInfraestructuraDisponibleEnLaFinca ,
            IdCategoriaInfraestructura = @IdCategoriaInfraestructura ,
            RealizaAlgunProcesoTransformacionOValorAgregado = @RealizaAlgunProcesoTransformacionOValorAgregado ,
            ProcesoTransformacionOValorAgregadoEspecificar = @ProcesoTransformacionOValorAgregadoEspecificar ,
            IdDestinoDeLaProduccion = @IdDestinoDeLaProduccion ,
            SiVentaEspecificarCanalesComercializacion = @SiVentaEspecificarCanalesComercializacion ,
            IdCategoriaExplotacionAgricola = @IdCategoriaExplotacionAgricola ,
            IdOrientacionTecnicoEco  = @IdOrientacionTecnicoEco ,
            ComentarioExplotacionAgricola = @ComentarioExplotacionAgricola ,
            TieneAbejasSinAguijon = @TieneAbejasSinAguijon ,
            DesdeCuandoLasTiene = @DesdeCuandoLasTiene ,
            OtrasEspeciesAbeja =  @OtrasEspeciesAbeja ,
            DondeYComoObtuvoEsasColmenas = @DondeYComoObtuvoEsasColmenas ,
            ProduceMiel = @ProduceMiel  ,
            ComoCosechaLaMiel= @ComoCosechaLaMiel ,
            IdDestinoMiel = @IdDestinoMiel ,
            DondeSeVendeMielEspecificar = @DondeSeVendeMielEspecificar  ,
            PrecioVentaMiel = @PrecioVentaMiel ,
            IdDondeColocaLasColmenas = @IdDondeColocaLasColmenas ,
            DondeSeUbicanLasColmenas = @DondeSeUbicanLasColmenas ,
            DiagnosticoVisualDelMeliponarioYSuEntorno = @DiagnosticoVisualDelMeliponarioYSuEntorno ,
            IdPotencialLugarParaTenerAbejas = @IdPotencialLugarParaTenerAbejas ,
            IdRiesgoRoboColmenas = @IdRiesgoRoboColmenas ,
            FotoMeliponario = @FotoMeliponario ,
            CualEsSuMotivacionParaTenerLasAbejas = @CualEsSuMotivacionParaTenerLasAbejas  ,
            ComoAprendioACriarLasAbejas = @ComoAprendioACriarLasAbejas  ,
            IdNivelConocimientoMeliponicultura = @IdNivelConocimientoMeliponicultura ,
            ComentariosMeliponicultura = @ComentariosMeliponicultura  ,
            QueEsLoQueMejorariaSuCalidadDeVida = @QueEsLoQueMejorariaSuCalidadDeVida  ,
            CualesSonLosFrenosCalidadDeVida = @CualesSonLosFrenosCalidadDeVida ,
            ComoMejorariaSuActividadAgricola = @ComoMejorariaSuActividadAgricola  ,
            CualesSonLosFrenosActividadAgricola = @CualesSonLosFrenosActividadAgricola ,
            EnQueLeGustariaQueACFNLoPuedaApoyar = @EnQueLeGustariaQueACFNLoPuedaApoyar ,
            CualesSon3FortalezasDeSuComunidad = @CualesSon3FortalezasDeSuComunidad ,
            CualesSon3PrincipalesProblemasComunidad = @CualesSon3PrincipalesProblemasComunidad  ,
            QueSolucionesPropondriaMejorarComunidad  = @QueSolucionesPropondriaMejorarComunidad ,
            CualesSonLosFrenosImpidenHacerEsasSoluciones = @CualesSonLosFrenosImpidenHacerEsasSoluciones  ,
            Fortalezas = @Fortalezas ,
            Debilidades = @Debilidades ,
            Oportunidades = @Oportunidades ,
            Amenazas = @Amenazas ,
            ProyectosPotenciales = @ProyectosPotenciales ,
            ComentarioGeneral = @ComentarioGeneral ,
            IndicadorBienestarSocialYFamiliarDelHogar = @IndicadorBienestarSocialYFamiliarDelHogar ,
            IndicadorBienestarEconomicoYMaterialDelHogar = @IndicadorBienestarEconomicoYMaterialDelHogar ,
            IndicadorSoberaniaAlimenticia = @IndicadorSoberaniaAlimenticia ,
            IndicadorFelicidad = @IndicadorFelicidad ,
            Estado = @Estado 
			WHERE Identificador = @Identificador

  
   SAVE TRAN [PRODUCTOR];
   COMMIT TRAN [PRODUCTOR];
   COMMIT TRAN [PRODUCTORTRACK];

   END TRY

   BEGIN CATCH
        ROLLBACK TRAN [PRODUCTORTRACK] ;
		ROLLBACK TRAN  [PRODUCTOR]; 
	    COMMIT TRAN [PRODUCTORTRACK]; 
	    COMMIT TRAN [PRODUCTOR]; 
   END CATCH

END ;